@import 'tailwindcss';


@theme {
  --color-bleu-principal: #22354D;
  --color-bleu-secondaire: #5B7188;
  --color-orange-cuivre: #C97817;
  --color-rouge-lampe: #D94A3D;
  --color-vert-reussite: #70B77E;
  --color-rouge-echec: #C97D60;
  --color-gris-clair: #E8EDF2;
  --color-gris-fonce: #4B5563;

  --font-titres: 'Manrope', sans-serif;
  --font-texte: 'Inter', sans-serif;

  --text-h1: 48px;
  --text-h2: 36px;
  --text-h3: 28px;
  --text-h4: 22px;
  --text-body: 16px;
  --text-small: 14px;
}

body {
  font-family: var(--font-texte);
}